<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=B, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <ul>
    {% for book in mybooks %}
       <li>
           Τίτλος: {{book.Title | title }} <br>
           Συγγραφέας: {{book.Author | safe }} <br>
           Είδος: {{book.Genre}} <br>
       </li>
    {% endfor %}
    </ul>
</body>
</html>