{% extends "base.html"%}

{% block title %}
Flask Home
{% endblock title %}

{% block content %}


    {% if articles %}

        {% for article in articles.items %}
            <div class="row my-3 p-3 bg-body rounded shadow-sm">

                <div class="main-article-category col col-12">
                    <div class="main-article-title">
                        <a class="article-title" href="{{url_for('full_article', article_id=article.id)}}">
                            {{article.article_title}}
                        </a>
                    </div>
    
                    <div class="article-info">
    
                            <img class="rounded-circle profile-icon-article " src="{{ url_for('static', filename='/images/profile_images/'+article.author.profile_image) }}" alt="profile image" data-bs-toggle="
                            tooltip" >  
    
                        <a class="author-name" href="{{url_for('profile', profile_id=article.author.id)}}">
                            {{article.author.username}}
                        </a>
                        <small class="article-date">{{article.date_created.strftime('%d-%m-%Y')}}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-sm-auto">
                        {% if article.article_image and article.article_image != 'default_article_image.jpg ' %}
                            <img class="img-fluid a_image" width=320 height=220 src="{{ url_for('static', filename='/images/article_images/'+article.article_image) }}" alt="article image">
                        {% endif %}
                    </div>
    
                    <div class="col-sm-auto">
                        <p class="main-article-partial-text">  
                            {{article.article_body | truncate(255) | safe}}
                        </p>
                    </div>
                </div>


            </div>
        {% endfor %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                <!--Previous Nutton -->
                {% if articles.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('root', page=articles.prev().page) }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}              

                <!--Pages-->
                {% for page_number in articles.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
                    {% if page_number %}
                        {% if articles.page == page_number %} <!--  current page button -->
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{page_number}}</span>
                            </li>
                        {% else %} <!-- other pages button -->
                            <li class="page-item"><a class="page-link" href="{{ url_for('root', page=page_number) }}">{{page_number}}</a></li>
                        {% endif %}
                        
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endfor %}
                
                <!--Next Nutton -->
                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('root', page=articles.next().page) }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}

            </ul>
      </nav>


    {% else %}
            <h3>Δεν υπάρχουν ακόμα άρθρα</h3>
    {% endif %}
{% endblock content %}

