{% extends "base.html"%}

{% block title %}
Flask Home
{% endblock title %}

{% block content %}


    {% if articles %}

        {% for article in articles %}
            <h3>{{article.article_title}}</h3>
            <h6>
                <img class="rounded-circle navbar-profile-image" src="{{ url_for('static', filename='/images/profile_images/'+article.author.profile_image) }}" alt="profile image" data-bs-toggle="
                tooltip" >  
                {{article.author.username}} | {{article.date_created.strftime('%d-%m-%Y')}}
            </h6>
            <p>
                <img width=320 height=150 src="{{ url_for('static', filename='/images/article_images/'+article.article_image) }}" alt="article image">  
                {{article.article_body | truncate(50) | safe}}
            </p>
        {% endfor %}

    {% else %}
            <h3>Δεν υπάρχουν ακόμα άρθρα</h3>
    {% endif %}
{% endblock content %}

