<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MyBlog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Αρχική Σελίδα</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new_article/">Νέο Άρθρο</a>
          </li>        
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle navbar-profile-image" src="{{ url_for('static', filename='/images/profile_images/'+current_user.profile_image) }}" alt="profile image" data-bs-toggle="
                tooltip" > 
                {{current_user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Προφίλ</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout/">Αποσύνδεση</a></li>
              </ul>
            </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/signup/">Eγγραφή</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login/">Σύνδεση</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
