{% extends "base.html"%}

{% block title %}
Προφίλ {{profile_user.username}}
{% endblock title %}

{% block content %}


    {% if profile_user %}

    <div class="row">
        <div class="col">
            <img class="rounded-circle profile-page-image" src="{{ url_for('static', filename='/images/profile_images/'+profile_user.profile_image) }}" alt="profile image" data-bs-toggle="
        tooltip" >  
        </div>
        <div class="col">
            <h3> {{profile_user.username}} </h3>
            {% if profile_user==current_user %}
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="/edit_profile/">Επεξεργασία Προφιλ</a>
            {% endif %}
            
        </div>
        
        
    </div>

    {% endif %}

    {% if articles %}

        {% for article in articles %}
            <div class="row my-3 p-3 bg-body rounded shadow-sm">

                <div class="main-article-category col col-12">
                    <div class="main-article-title">
                        <a class="article-title" href="{{url_for('full_article', article_id=article.id)}}">
                            {{article.article_title}}
                        </a>
                    </div>
    
                    <div class="article-info">
    
                            <img class="rounded-circle profile-icon-article" src="{{ url_for('static', filename='/images/profile_images/'+article.author.profile_image) }}" alt="profile image" data-bs-toggle="
                            tooltip" >  
    
                        <a class="author-name" href="#">
                            {{article.author.username}}
                        </a>
                        <small class="article-date">{{article.date_created.strftime('%d-%m-%Y')}}</small>
                    </div>
                </div>

                <div class="col-2">
                    {% if article.article_image and article.article_image != 'default_article_image.jpg ' %}
                        <img class="image-responsive a_image" width=210 height=120 src="{{ url_for('static', filename='/images/article_images/'+article.article_image) }}" alt="article image">
                    {% endif %}
                </div>

                <div class="col-10">
                    <p class="main-article-partial-text">  
                        {{article.article_body | truncate(255) | safe}}
                    </p>
                </div>

            </div>
        {% endfor %}

    {% else %}
            <h3>Δεν υπάρχουν ακόμα άρθρα</h3>
    {% endif %}
{% endblock content %}

